@charset "UTF-8";

/* 기본 select 옵션 스타일 */
select option {
    padding: 5px; /* 줄어든 패딩 */
    font-size: 14px; /* 줄어든 글자 크기 */
}

/* 선택된 옵션 스타일 */
.selected-option {
    background-color: lightblue !important;
    color: black !important;
}

/* 사고 위험도 버튼 스타일 */
.risk-button {
    display: block;
    width: 40px; /* 줄어든 너비 */
    height: 25px; /* 줄어든 높이 */
    margin: 5px auto; /* 자동 좌우 정렬 */
    text-align: center;
    line-height: 25px; /* 줄어든 높이와 맞춤 */
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px; /* 둥근 모서리 */
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px; /* 줄어든 글자 크기 */
}

/* 마우스 오버 시 색상 변경 */
.risk-button:hover {
    opacity: 0.8; /* 배경색 변경 대신 투명도 조정 */
}
.

/* 선택되지 않은 상태의 버튼 스타일 */
.risk-button:not(.selected) {
    background-color: rgba(0, 0, 0, 0.1) !important; /* 흰색보다 연한 색상 */
    color: #000000; /* 선택되지 않은 버튼의 글자색 */
}
/* 선택된 버튼의 스타일 */
.risk-button.selected.risk-green {
    background-color: #4caf50; /* 초록색 */ 
    color: #FFFFFF;
}

.risk-button.selected.risk-blue {
    background-color: #2196f3; /* 파란색 */
    color: #FFFFFF;
}

.risk-button.selected.risk-yellow {
    background-color: #FFBF00; /* 주황색 */
    color: #FFFFFF;
}

.risk-button.selected.risk-red {
     background-color: #f44336; /* 빨간색 */
    color: #FFFFFF;
}

.risk-button.selected.risk-purple {
    background-color: #9c27b0; /* 보라색 */
   color: #FFFFFF;
}
/* 사고 위험도 섹션 스타일 */
.risk-section {
    display: none; /* 기본적으로 숨김 */
    text-align: center;
    margin-bottom: 20px;
}

/* 연도 선택, 구 선택, 사고 위험도 섹션, 버튼 공통 마진 */
.year-selection, .gu-selection, .risk-section, .fetch-button {
    margin-bottom: 20px;
}

/* 데이터 가져오기 버튼 스타일 */
.fetch-button {
    text-align: center;
    margin: 20px 0;
}

/* 맵 컨테이너 스타일 */
#mapContainer {
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center; /* 중앙 정렬 */
}

/* 서브 맵 스타일 */
#subMap {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%; /* 전체 폭 차지 */
}

/* 사이드바 스타일 */
.aside {
    height: 820px;
    width: 350px;
    overflow-y: auto; /* 세로 스크롤 추가 */
    display: none; /* 기본적으로 숨김 */
    background-color: #f9f9f9; /* 밝은 배경색 */
    border-left: 2px solid #ddd; /* 분리선 */
    box-sizing: border-box; /* 패딩과 테두리 포함 크기 계산 */
    padding: 10px; /* 패딩 추가 */
}

/* 버튼 외에도 필요한 경우 추가 스타일링 */
