
    #map {
    	width : 70%;
        height: 700px;
    }
    .mapContainer{
    	width : 1300px;
    }
	.map-fn-l-box {
	    z-index: 500;
	    display: inline-block;
	    background-color: #f6f6f6;
	    width: 61px;
	    height: 579px;
	    border-right: 1px solid #ddd;
	}
    .map-fn-l-box .fn-alert {
	    display: inline-block;
	    width: 60px;
	    height: 60px;
	}
	.map-fn-l-box .fn-road{
	    display: inline-block;
	    width: 60px;
	    height: 60px;
	}
	.map-fn-l-box .fn-freezing {
	    display: inline-block;
	    width: 60px;
	    height: 60px;
	}
    #mapContainer {
    	position: inline-block;
    }
    .aside{
    	position: inline-block;
    	height: 579px;
    }
    .info_ul{
    	list-style : none;
    	border : 1px solid black;
    	padding : 0px;
    }
    .info_table{
    	boreder : 1px solid black;
    }