<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    
	<typeAliases>
        <typeAlias alias="Search" type="com.acorn.doma.cmn.Search"/>
        <typeAlias alias="Code" type="com.acorn.doma.code.domain.Code"/>
        <typeAlias alias="User" type="com.acorn.doma.user.domain.User"/>
        <typeAlias alias="MyMapper" type="com.acorn.doma.mymapper.domain.MyMapper"/>
    </typeAliases>
    
</configuration>