<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.doma.mapper.WeatherMapper">

    <!-- 연도에 따른 날씨 데이터 조회 쿼리 -->
    <select id="getWeatherDataByYear" parameterType="int" resultType="map">
        SELECT
            GNAME AS region,
            WEATHER_CONDITION AS condition,
            DEAD AS deadCount,
            INJURY AS injuryCount
        FROM d_weather
        WHERE YEAR = #{year}
    </select>

    <!-- 날씨 조건별 발생 빈도 (연도별) -->
    <select id="weatherFreqByYear" resultType="map">
        SELECT 
            YEAR,
            WEATHER_CONDITION as condition, 
            sum(injury) as injury 
        FROM 
            d_weather
        WHERE WEATHER_CONDITION not like '기타/불명'
        GROUP BY 
            YEAR, WEATHER_CONDITION
        ORDER BY 
            year
    </select>
    <select id=""></select>
   

    

    

    <!-- 연도별 상위 5개 구에서 부상자의 합산이 가장 많은 구 조회 -->
    <select id="top5InjuryByRegion" parameterType="int" resultType="map">
        <![CDATA[
        WITH RankedInjuries AS (
            SELECT 
                GNAME AS region,
                WEATHER_CONDITION AS weather_condition,
                SUM(INJURY) AS total_injury,
                YEAR AS year,
                ROW_NUMBER() OVER (PARTITION BY YEAR ORDER BY SUM(INJURY) DESC) AS rank
            FROM 
                d_weather
            WHERE 
                WEATHER_CONDITION NOT IN ('기타/불명')  -- '기타/불명' 제외
            GROUP BY 
                GNAME, WEATHER_CONDITION, YEAR
        )
        SELECT 
            region,
            weather_condition,
            total_injury,
            year
        FROM 
            RankedInjuries
        WHERE 
            rank <= 5
        ORDER BY 
            year, rank
        ]]>
    </select>

    <!-- 선택된 구에서 기상 상태별 부상자 수 조회 -->
    <select id="injuryByWeatherConditionForGnames" parameterType="map" resultType="map">
        SELECT 
            GNAME,
            WEATHER_CONDITION,
            SUM(INJURY) AS TOTAL_INJURY
        FROM 
            d_weather
        WHERE 
            GNAME IN 
            <foreach item="gname" collection="gname" open="(" separator="," close=")">
                #{gname}
            </foreach>
        GROUP BY 
            GNAME, WEATHER_CONDITION
    </select>

</mapper>
