<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.doma.mapper.UserMapper">
	
   <select id="getCount" parameterType="User" resultType="int">
        SELECT COUNT(*) cnt 
         FROM D_USER        
    </select>
    
    <select id="doSelectOne" parameterType="String" resultType="User">
        SELECT                                            
            user_id as userId,
            user_name as userName,
            user_pw as userPw,
            user_email as userEmail,
            birth,
            grade,
            address,
            detail_address as detailAddress,
            reg_dt as regDt
        FROM                                              
            D_USER                                        
        WHERE user_id = #{userId}                                 
    </select>
    
    <delete id="doDelete" parameterType="User">
        DELETE FROM D_USER
         WHERE user_id = #{userId}
    </delete>
    
    <insert id="doSave" parameterType="User">
        INSERT INTO D_USER (
               user_id,
               user_name,
               user_pw,
               user_email,
               address,
               reg_dt,
               grade,
               detail_address,
               birth,
            ) VALUES (          
                #{userId},              
                #{userName},              
                #{userPw},              
                #{userEmail},
                #{grade}, 
                #{address},                  
                #{detailAddress}, 
                #{regDt}    
            )                   
    </insert>
        
</mapper>