<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.doma.mapper.PointMapper">

	<insert id="dataInsert" parameterType="Point">
		INSERT INTO D_POINT (
			point_id,
			acc_point, 
			accident, 
			dead, 
			seriously, 
			ordinary, 
			report, 
			point_type,
			longitude,
			latitude,
			year,
			gname,
			acc_frequency
		) 
		VALUES (
			#{pid}, 
			#{accPoint}, 
			#{accident}, 
			#{dead}, 
			#{seriously}, 
			#{ordinary}, 
			#{report}, 
			#{pointType}, 
			#{longitude}, 
			#{latitude},
			#{year},
			#{gname},
			#{accFrequency}
		)
	</insert>
	
	<select id="guLoad" parameterType="String" resultType="String">
		 SELECT 
	    DISTINCT(gname) as gname
	  FROM D_POINT
	 WHERE YEAR= #{year}
	</select>
	
	<select id="detailInfoLoad" parameterType="Point" resultType="Point">
		SELECT 
		    POINT_ID as pid,
		    ACC_POINT as accPoint,
		    year,
		    accident,
		    dead,
		    seriously,
		    ordinary,
		    report,
		    POINT_TYPE as pointType,
		    GNAME as gname,
		    LATITUDE as longitude,
		    LONGITUDE as latitude
	    FROM D_POINT
	   WHERE GNAME = #{gname}
	     AND YEAR= #{year}
	</select>
	<select id="databyYearAndGu" resultType="Point" parameterType="Point">
        SELECT
            point_id AS pid,
            acc_point AS accPoint,
            acc_frequency as accFrequency,
            year,
            accident,
            dead,
            seriously,
            ordinary,
            report,
            POINT_TYPE AS pointType,
            GNAME AS gname,
            LATITUDE AS latitude,
            LONGITUDE AS longitude
        FROM D_POINT
        WHERE year = #{year}
        AND gname IN
        <foreach item="item" collection="guList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
	<select id="fullTableScan" resultType="Point">
		select
		    year,
		    sum(accident) as accident,
		    sum(dead) as dead,
		    sum(seriously) as seriously,
		    sum(ordinary) as ordinary,
		    sum(report) as report
		  from d_point
		group by year
		order by year desc
	</select>
	
	<delete id="doDeleteAll">
	    DELETE FROM D_POINT
	</delete>
	
	<select id="countAll" resultType="int">
	    SELECT COUNT(*) FROM D_POINT
	</select>

</mapper>