<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.doma.mapper.AdminMapper">

<!-- 공지사항 목록 조회 -->
<select id="getNotices" parameterType="Search" resultType="Admin">
    <![CDATA[
    SELECT 
        SEQ as seq,
        DIV as div,
        TITLE as title,
        USER_ID as userId,
        MOD_ID as modId,
        CONTENT as content,
        IMG_LINK as imgLink,
        REG_DT as boardRegDt,
        MOD_DT as modDt,
        VIEWS as views,
        GNAME as gname,
        ROWNUM AS rn
    FROM (
        SELECT 
            SEQ,
            DIV,
            TITLE,
            USER_ID,
            MOD_ID,
            CONTENT,
            IMG_LINK,
            REG_DT,
            MOD_DT,
            VIEWS,
            GNAME,
            ROW_NUMBER() OVER (ORDER BY REG_DT DESC) AS rn
        FROM d_board
        WHERE DIV = '20'
    )
    WHERE rn > #{pageSize} * (#{pageNo} - 1) AND rn <= #{pageSize} * #{pageNo}
    ]]>
</select>

    <!-- 마지막 시퀸스  -->
    <select id="getLastInsertedSeq" resultType="int">
        SELECT d_board_seq.CURRVAL FROM dual
    </select>
   
    <!-- 공지사항 등록 -->
    <insert id="insertNotice" parameterType="Admin">
        INSERT INTO d_board (seq, div, title, user_id, mod_id, content, img_link, reg_dt, mod_dt, views, gname)
        VALUES (d_board_seq.NEXTVAL, '20', #{title}, #{userId}, #{modId}, #{content}, #{imgLink}, SYSDATE, SYSDATE, #{views}, #{gname})
    </insert>

    <!-- 공지사항 수정 -->
    <update id="updateNotice" parameterType="Admin">
        UPDATE d_board
        SET title = #{title},
            user_id = #{userId},
            mod_id = #{modId},
            content = #{content},
            img_link = #{imgLink},
            mod_dt = SYSDATE,
            views = #{views},
            gname = #{gname}
        WHERE seq = #{seq} AND div = '20'
    </update>

        <!-- 공지사항 삭제 -->
    <delete id="deleteNotice" parameterType="Admin">
        DELETE FROM d_board
        WHERE seq = #{seq} AND div = '20'
    </delete>
    
<!-- 공지사항 총 개수 조회 쿼리 -->
<select id="getNoticeCount" parameterType="search" resultType="int">
    SELECT COUNT(*)
    FROM d_board
    WHERE div = 
    <choose>
        <when test="searchDiv != null">
            #{searchDiv}
        </when>
        <otherwise>
            '20'
        </otherwise>
    </choose>
    <if test="searchWord != null and searchWord != ''">
        AND (title LIKE '%' || #{searchWord} || '%' OR content LIKE '%' || #{searchWord} || '%')
    </if>
</select>

<!-- 게시판 단건 조회 (게시판과 유저 테이블 조인) -->
<select id="getNoticeById" parameterType="Admin" resultType="Admin">
    SELECT 
        b.seq AS seq, 
        b.div AS div, 
        b.title AS title, 
        b.user_id AS userId, 
        b.mod_id AS modId, 
        b.content AS content, 
        b.img_link AS imgLink, 
        b.reg_dt AS boardRegDt, 
        b.mod_dt AS modDt, 
        b.views AS views, 
        b.gname AS gname,
        u.user_name AS userName, 
        u.user_pw AS userPw, 
        u.birth AS userBirth, 
        u.grade AS userGrade, 
        u.address AS userAddress, 
        u.detail_address AS userDetailAddress, 
        u.reg_dt AS userRegDt,
        u.CEL_DT AS userCelDt
    FROM d_board b
    LEFT JOIN d_user u ON b.user_id = u.user_id
    WHERE b.seq = #{seq} AND b.div = '20'
</select>

    <!-- 회원 목록 조회 -->
<select id="getUsers" resultType="Admin">
    SELECT 
        USER_ID AS userId, 
        GRADE AS userGrade, 
        USER_NAME AS userName, 
        USER_PW AS userPw, 
        BIRTH AS userBirth, 
        ADDRESS AS userAddress, 
        DETAIL_ADDRESS AS userDetailAddress, 
        REG_DT AS userRegDt
    FROM d_user
    ORDER BY REG_DT DESC
</select>

    <!-- 회원 수정 -->
<update id="updateUser" parameterType="Admin">
    UPDATE d_user
    <set>
        <if test="userName != null">user_name = #{userName},</if>
        <if test="userPw != null">user_pw = #{userPw},</if>
        <if test="userBirth != null">birth = #{userBirth},</if>
        <if test="userGrade != null">grade = #{userGrade},</if>
        <if test="userAddress != null">address = #{userAddress},</if>
        <if test="userDetailAddress != null">DETAIL_ADDRESS = #{userDetailAddress},</if>
    </set>
    WHERE user_id = #{userId}
</update>


    <!-- 회원 삭제 -->
    <delete id="deleteUser" parameterType="Admin">
        DELETE FROM d_user
        WHERE user_id = #{userId}
    </delete>

    <!-- 회원 단건 조회 -->
<select id="getUser" parameterType="String" resultType="Admin">
    SELECT 
        USER_ID AS userId, 
        GRADE AS userGrade, 
        USER_NAME AS userName, 
        USER_PW AS userPw, 
        BIRTH AS userBirth, 
        ADDRESS AS userAddress, 
        DETAIL_ADDRESS AS DETAIL_ADDRESS, 
        REG_DT AS userRegDt
    FROM d_user
    WHERE USER_ID = #{userId}
</select>

<!-- 회원 등록 -->
<insert id="insertUser" parameterType="Admin">
    INSERT INTO d_user(
        USER_ID, USER_NAME, USER_PW, BIRTH, GRADE, ADDRESS, DETAIL_ADDRESS, REG_DT
    ) VALUES (
        #{userId}, #{userName}, #{userPw}, #{userBirth}, #{userGrade}, #{userAddress}, #{userDetailAddress}, #{userRegDt}
    )
</insert> 

</mapper>