<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.doma.mapper.AdminMapper">

<!-- 공지사항 목록 조회 -->
<select id="getNotices" parameterType="Search" resultType="Admin">
    SELECT 
        SEQ as seq,
        DIV as div,
        TITLE as title,
        USER_ID as userId,
        MOD_ID as modId,
        CONTENT as content,
        IMG_LINK as imgLink,
        REG_DT as boardRegDt,
        MOD_DT as modDt,
        VIEWS as views,
        GNAME as gname,
        ROWNUM AS rn
    FROM (
        SELECT 
            SEQ,
            DIV,
            TITLE,
            USER_ID,
            MOD_ID,
            CONTENT,
            IMG_LINK,
            REG_DT,
            MOD_DT,
            VIEWS,
            GNAME,
            ROW_NUMBER() OVER (ORDER BY REG_DT DESC) AS rn
        FROM d_board
        WHERE DIV = '20'
        <if test="searchWord != null and searchWord != ''">
            AND (TITLE LIKE '%' || #{searchWord} || '%'
                 OR USER_ID LIKE '%' || #{searchWord} || '%')
        </if>
    )
    WHERE rn <![CDATA[>]]> #{pageSize} * (#{pageNo} - 1) AND rn <![CDATA[<=]]> #{pageSize} * #{pageNo}
</select>


<!-- 마지막 시퀸스  -->
    <select id="getLastInsertedSeq" resultType="int">
        SELECT d_board_seq.CURRVAL FROM dual
    </select>
   
<!-- 공지사항 등록 -->
    <insert id="insertNotice" parameterType="Admin">
        INSERT INTO d_board (seq, div, title, user_id, mod_id, content, img_link, reg_dt, mod_dt, views, gname)
        VALUES (d_board_seq.NEXTVAL, '20', #{title}, #{userId}, #{modId}, #{content}, NULL, SYSDATE, SYSDATE, #{views}, NULL)
    </insert>

<!-- 공지사항 수정 -->
<update id="updateNotice" parameterType="Admin">
    UPDATE d_board
    <set>
        <if test="title != null">title = #{title},</if>
        <if test="modId != null">mod_id = #{modId},</if>
        <if test="content != null">content = #{content},</if>
        <if test="modDt != null">mod_dt = SYSDATE,</if>
    </set>
    WHERE seq = #{seq} AND div = '20'
</update>



<!-- 공지사항 삭제 -->
    <delete id="deleteNotice" parameterType="Admin">
        DELETE FROM d_board
        WHERE seq = #{seq} AND div = '20'
    </delete>
    
<!-- 공지사항 총 개수 조회 쿼리 -->
<select id="getNoticeCount" parameterType="search" resultType="int">
    SELECT COUNT(*)
    FROM d_board
    WHERE div = 
    <choose>
        <when test="searchDiv != null">
            #{searchDiv}
        </when>
        <otherwise>
            '20'
        </otherwise>
    </choose>
    <if test="searchWord != null and searchWord != ''">
        AND (title LIKE '%' || #{searchWord} || '%' OR content LIKE '%' || #{searchWord} || '%')
    </if>
</select>

<!-- 게시판 단건 조회 (게시판과 유저 테이블 조인) -->
<select id="getNoticeById" parameterType="Admin" resultType="Admin">
    SELECT 
        b.seq AS seq, 
        b.div AS div, 
        b.title AS title, 
        b.user_id AS userId, 
        b.mod_id AS modId, 
        b.content AS content, 
        b.img_link AS imgLink, 
        b.reg_dt AS boardRegDt, 
        b.mod_dt AS modDt, 
        b.views AS views, 
        b.gname AS gname,
        u.user_name AS userName, 
        u.user_pw AS userPw, 
        u.birth AS userBirth, 
        u.grade AS userGrade, 
        u.address AS userAddress, 
        u.detail_address AS userDetailAddress, 
        u.reg_dt AS userRegDt,
        u.CEL_DT AS userCelDt
    FROM d_board b
    LEFT JOIN d_user u ON b.user_id = u.user_id
    WHERE b.seq = #{seq} AND b.div = '20'
</select>

<!-- 회원 목록 조회 -->
<select id="getUsers" parameterType="Search" resultType="Admin">
SELECT 
        USER_ID AS userId, 
        GRADE AS userGrade, 
        USER_NAME AS userName, 
        USER_PW AS userPw, 
        BIRTH AS userBirth, 
        ADDRESS AS userAddress, 
        DETAIL_ADDRESS AS userDetailAddress, 
        REG_DT AS userRegDt,
        CEL_DT AS userCelDt,
        ROWNUM AS rn
    FROM (
        SELECT 
        USER_ID 
        ,  GRADE
        , USER_NAME
        , USER_PW 
        , BIRTH 
        , ADDRESS 
        , DETAIL_ADDRESS 
        , REG_DT 
        , CEL_DT
        , ROW_NUMBER() OVER (ORDER BY REG_DT DESC) AS rn
    FROM d_user
    WHERE 1 = 1
        <if test="searchWord != null and searchWord != ''">
            AND (USER_NAME LIKE '%'  || #{searchWord} || '%'
                 OR USER_ID LIKE '%' ||  #{searchWord} || '%'
                 OR (CEL_DT IS NULL AND #{searchWord} = '활성')
                 OR (CEL_DT IS NOT NULL AND #{searchWord} = '비활성'))
        </if>
     )

     WHERE rn <![CDATA[>]]> #{pageSize} * (#{pageNo} - 1) AND rn <![CDATA[<=]]> #{pageSize} * #{pageNo}
</select>

<!-- 회원목록 총 개수 조회 쿼리 -->
<select id="getUsersCount" parameterType="search" resultType="int">
SELECT 
       count(*)
    FROM(
        SELECT 
            USER_ID 
            ,  GRADE
            , USER_NAME
            , USER_PW 
            , BIRTH 
            , ADDRESS 
            , DETAIL_ADDRESS 
            , REG_DT 
            , CEL_DT
        FROM d_user

    WHERE 1 = 1
        <if test="searchWord != null and searchWord != ''">
            AND (USER_NAME LIKE '%' ||  #{searchWord} || '%'
                 OR USER_ID LIKE '%' ||  #{searchWord} || '%'
                 OR (CEL_DT IS NULL AND #{searchWord} = '활성')
                 OR (CEL_DT IS NOT NULL AND #{searchWord} = '비활성'))
        </if>
        )
</select>


<!-- 회원 수정 -->
<update id="updateUser" parameterType="Admin">
    UPDATE d_user
    <set>
        <if test="userName != null">USER_NAME = #{userName},</if>
        <if test="userBirth != null">BIRTH = #{userBirth},</if>
        <if test="userAddress != null">ADDRESS = #{userAddress},</if>
        <if test="userDetailAddress != null">DETAIL_ADDRESS = #{userDetailAddress}</if>
    </set>
    WHERE USER_ID = #{userId}
</update>



<!-- 회원 삭제 -->
<delete id="deleteUser" parameterType="Admin">
    DELETE FROM d_user
    WHERE USER_ID = #{userId}
</delete>


<!-- 회원 단건 조회 -->
<select id="getUser" parameterType="String" resultType="Admin">
    SELECT 
        USER_ID AS userId, 
        GRADE AS userGrade, 
        USER_NAME AS userName, 
        USER_PW AS userPw, 
        BIRTH AS userBirth, 
        ADDRESS AS userAddress, 
        DETAIL_ADDRESS AS userDetailAddress, 
        REG_DT AS userRegDt,
        CEL_DT AS userCelDt
    FROM d_user
    WHERE USER_ID = #{userId}
</select>

<!-- 회원 등록 -->
<insert id="insertUser" parameterType="Admin">
    INSERT INTO d_user(
        USER_ID, USER_NAME, USER_PW, BIRTH, GRADE, ADDRESS, DETAIL_ADDRESS, REG_DT
    ) VALUES (
        #{userId}, #{userName}, #{userPw}, #{userBirth}, #{userGrade}, #{userAddress}, #{userDetailAddress}, #{userRegDt}
    )
</insert> 

</mapper>