<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.doma.mapper.BoardMapper">
 
	    
    <select id="mpSelect" parameterType="String"  resultType="Board">
      SELECT
    		seq, 
    		title,
    		reg_id as regId,
    		mod_id as modId,
    		content,
    		img_link as imgLink,
    		reg_dt as regDt,
    		mod_dt as modDt,
    		views,
    		gname
	FROM
   			d_board
	where
    		reg_id = #{userId}                                                  
    </select>
    
 	 




</mapper>