<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.doma.mapper.BoardMapper">
 
	    
    <select id="mpSelect" parameterType="String"  resultType="Board">
      SELECT
      		b.seq as seq,
      		b.div as div,
    		b.title,
    		b.user_id as userId,
    		b.mod_id  as modId,
    		b.content, 
    		TO_CHAR(b.reg_dt, 'YYYY/MM/DD HH24:MI:SS') AS regDt,
    		TO_CHAR(b.mod_dt, 'YYYY/MM/DD HH24:MI:SS') AS modDt,
    		b.views,
    		b.gname
		FROM
    		d_board b
		INNER JOIN
    		d_user u ON b.user_id = u.user_id
		WHERE
    		u.user_id =   #{userId}                                                  
    </select>
    
    
 	 <update id="mpBoardUp" parameterType="Board">
         UPDATE d_board
			SET  
    			title = #{title}, 
    			mod_id = #{modId},
    			content = #{content},
    			img_link = #{imgLink}, 
    			views = #{views} 
    			 
			WHERE
       			 seq = #{seq}  
    </update>
    
    
    

	<select id="mpBoardSelectOne" parameterType="Board"  resultType="Board">
        SELECT 
        		seq,
    			title,
    			user_id as userId,
    			mod_id  as modId,
    			content,
    			img_link as imgLink,
    			TO_CHAR(reg_dt,'YYYY/MM/DD HH24:MI:SS') as regDt,
		    	TO_CHAR(mod_dt,'YYYY/MM/DD HH24:MI:SS') as modDt,
		    	views
		FROM
    			d_board
    	where
    			seq = #{seq}  
    	                                                   
    
    </select>


</mapper>