<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.doma.mymapper">
    
    <!-- Dao 기준 (namespace+id) : com.pcwk.ehr.mymapper.doSelectOne  
        parameterType : Dao입력
        resultType : SQL 수행 결과
    -->
    
    <select id="doSelectOne" 
        parameterType="MyMapper"
        resultType="com.acorn.doma.mymapper.domain.MyMapper"    
    >
       SELECT #{userId}   || 'pcwk_mybatis' as userId,
              #{password} || 'pcwk_mybatis' as password
         FROM dual
    </select>

</mapper>