<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.doma.mapper.FreezingMapper">
    <insert id="dataInsert" parameterType="Freezing">
    INSERT INTO D_FREEZING (
    freezing_id, 
    sido_code, 
    year, 
    accident, 
    casualties, 
    dead, 
    seriously, 
    ordinary, 
    report, 
    longitude, 
    latitude, 
    polygon, 
    acc_point) 
    VALUES (
    #{fid}, 
    #{sidoCode}, 
    #{year}, 
    #{accident}, 
    #{casualties}, 
    #{dead}, 
    #{seriously}, 
    #{ordinary}, 
    #{report}, 
    #{longitude}, 
    #{latitude}, 
    #{polygon}, 
    #{accPoint}
    )
    </insert>
    <delete id="doDeleteAll">
    DELETE FROM D_FREEZING
    </delete>
    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM D_FREEZING
    </select>
    <select id="selectFreezingData" resultType="map" parameterType="Freezing">
        SELECT
            YEAR,
            SUM(ACCIDENT) AS ACCIDENT,
            SUM(CASUALTIES) AS CASUALTIES,
            SUM(DEAD) AS DEAD,
            SUM(SERIOUSLY) AS SERIOUSLY,
            SUM(ORDINARY) AS ORDINARY
        FROM d_freezing
        <where>
            <if test="years != null and !years.isEmpty()">
                YEAR IN
                <foreach item="year" collection="years" open="(" separator="," close=")">
                    #{year}
                </foreach>
            </if>
        </where>
        GROUP BY YEAR
    </select>
    <select id="selectFreezingDataById" parameterType="Freezing" resultType="Freezing">
        SELECT
            s.GNAME,
            s.DNAME,
            f.YEAR,
            f.ACCIDENT,
            f.CASUALTIES,
            f.DEAD,
            f.SERIOUSLY,
            f.ORDINARY,
            f.LONGITUDE,
            f.LATITUDE,
            f.ACC_POINT
        FROM
            d_freezing f
        JOIN
            d_sido s ON f.sido_code = s.sido_code
        WHERE
            f.FREEZING_ID = #{fid}
    </select>
    
</mapper>