<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.doma.mapper.BoardMapper">
    
    <update id="readCntUpdate" parameterType="Board">
        UPDATE d_board
        SET  views = NVL(views,0)+ 1
        WHERE seq = #{seq}
        AND user_id <![CDATA[<> #{userId} ]]>  
    </update>
    
    <insert id="multipleSave">
    INSERT INTO d_board
    SELECT ROWNUM,
           DECODE(MOD(ROWNUM,2),1,'10','20'),
           '제목'||LPAD(ROWNUM,7,0),
           'ADMIN',
           'ADMIN',
           '내용'||LPAD(ROWNUM,7,0),
           '이미지'||LPAD(ROWNUM,7,0),
           SYSDATE-ROWNUM/24,
           SYSDATE-ROWNUM/24,
           MOD(ROWNUM,10),
           CASE ROUND(DBMS_RANDOM.VALUE(1, 25))
                WHEN 1 THEN '강남구'
                WHEN 2 THEN '강동구'
                WHEN 3 THEN '강북구'
                WHEN 4 THEN '강서구'
                WHEN 5 THEN '관악구'
                WHEN 6 THEN '광진구'
                WHEN 7 THEN '구로구'
                WHEN 8 THEN '금천구'
                WHEN 9 THEN '노원구'
                WHEN 10 THEN '도봉구'
                WHEN 11 THEN '동대문구'
                WHEN 12 THEN '동작구'
                WHEN 13 THEN '마포구'
                WHEN 14 THEN '서대문구'
                WHEN 15 THEN '서초구'
                WHEN 16 THEN '성동구'
                WHEN 17 THEN '성북구'
                WHEN 18 THEN '송파구'
                WHEN 19 THEN '양천구'
                WHEN 20 THEN '영등포구'
                WHEN 21 THEN '용산구'
                WHEN 22 THEN '은평구'
                WHEN 23 THEN '종로구'
                WHEN 24 THEN '중구'
                WHEN 25 THEN '중랑구'
	           END
	    FROM dual
	    CONNECT BY LEVEL <![CDATA[<= 202]]>
	</insert>
    
    <sql id="divDoRetrieve">
        <choose>
           <when test="div != null and div != '' ">
               AND div = #{div}
           </when>
       </choose>
    </sql>
    
    <sql id="whereDoRetrieve">
	    <choose>
	        <when test="searchDiv != null and searchDiv &lt;= 30">
	            <choose>
	                <!-- 제목 검색 -->
	                <when test="searchDiv == '10'">
	                    AND title LIKE '%' || #{searchWord} || '%'
	                </when>
	                <!-- 내용 검색 -->
	                <when test="searchDiv == '20'">
	                    AND content LIKE '%' || #{searchWord} || '%'
	                </when>
	                <!-- 제목 + 내용 검색 -->
	                <when test="searchDiv == '30'">
	                    AND (modId LIKE '%' || #{searchWord} || '%'
	                    OR content LIKE '%' || #{searchWord} || '%')
	                </when>
	            </choose>
	        </when>
	        <!-- GNAME 관련 검색 -->
	        <when test="searchDiv != null and searchDiv &gt;= 51 and searchDiv &lt;= 75">
	            AND gname = (
	                SELECT det_code_nm 
	                FROM d_code 
	                WHERE mst_code = 'GNAME' 
	                  AND det_code = #{searchDiv}
	            )
	        </when>
	    </choose>
	</sql>
	
    
	
	<sql id="whereGuRetrieve">
	    <choose>
	        <!-- GNAME 검색 -->
	        <when test="searchGu != null and searchGu != ''">
	            AND gname = (
	                SELECT det_code_nm 
	                FROM d_code 
	                WHERE mst_code = 'GNAME' 
	                  AND det_code = #{searchGu}
	            )
	        </when>
	    </choose>
	</sql>
    
	
    <select id="doRetrieve" parameterType="Search" resultType="Board">
    -- TODO : 커뮤니티(10), 공지사항(20)
    SELECT A.*, B.*
      FROM (
        SELECT tt1.rnum as no,
               tt1.div,
               tt1.gname,
               tt1.title,
               tt1.mod_id as modId,
               DECODE( TO_CHAR(tt1.mod_dt,'YYYYMMDD'),TO_CHAR(SYSDATE,'YYYYMMDD'),
                       TO_CHAR(tt1.mod_dt,'HH24:MI'),TO_CHAR(tt1.mod_dt,'YYYY/MM/DD')
               ) as modDt,
               tt1.views,
               TT1.seq
          FROM (
        SELECT ROWNUM as rnum, T1.*
          FROM (
            SELECT * 
              FROM d_board
              --WHERE : title(10), content(20), title+content(30)
              WHERE 1=1
              <include refid="divDoRetrieve"></include>
              <include refid="whereDoRetrieve"></include>
              <include refid="whereGuRetrieve"></include>
              ORDER BY mod_dt DESC
        )T1
            WHERE rownum  <![CDATA[ <= ( #{pageSize} * (#{pageNo} -1) + #{pageSize} )]]>
        )TT1
        WHERE tt1.rnum <![CDATA[ >= ( #{pageSize} * (#{pageNo} -1) + 1 )]]>
        )A
        CROSS JOIN (
            SELECT COUNT (*) totalCnt
            FROM d_board
            WHERE 1=1
            <include refid="divDoRetrieve"></include>
            <include refid="whereDoRetrieve"></include>
            <include refid="whereGuRetrieve"></include>
        )B
    </select>
    
    <delete id="doDeleteUser" parameterType="Board">
        DELETE FROM d_board
        WHERE seq = #{seq}
          AND user_id = #{userId}
    </delete>
    
    <delete id="doDelete" parameterType="Board">
        DELETE FROM d_board
         WHERE seq = #{seq}
           AND user_id = #{userId}
    </delete>
    
    <update id="doUpdateUser" parameterType="Board">
        UPDATE d_board
         SET div     = #{div},
             gname   = #{gname},
             title   = #{title},
             mod_id  = #{modId},
             content = #{content},
             mod_dt  = SYSDATE
          WHERE seq = #{seq}
            AND user_id = #{userId}
    </update>
    
    <update id="doUpdate" parameterType="Board">
        UPDATE d_board
         SET div     = #{div},
             gname   = #{gname},
             title   = #{title},
             mod_id  = #{modId},
             content = #{content},
             mod_dt  = SYSDATE
          WHERE seq = #{seq} 
            AND user_id = #{userId}
    </update>
    
    <select id="doSelectOne" parameterType="Board" resultType="Board">
        SELECT
		    seq,
		    div,
		    gname,
		    title,
		    user_id as userId,
		    mod_id as modId,
		    content,
		    img_link as imgLink,
		    TO_CHAR(reg_dt,'YYYY/MM/DD HH24:MI:SS') as regDt,
		    TO_CHAR(mod_dt,'YYYY/MM/DD HH24:MI:SS') as modDt,
		    views
		FROM
		    d_board
		WHERE seq = #{seq}    
    </select>
    
    <delete id="deleteAll">
        DELETE FROM d_board
    </delete>
    
    <select id="getSequence" resultType="int">
        SELECT MAX(SEQ) seq
          FROM d_board
    </select>
    
    <insert id="doSave" parameterType="Board">
     INSERT INTO D_BOARD(
        seq,
        div,
        gname,
        title,
        user_id,
        mod_id,
        content,
        img_link,
        reg_dt,
        mod_dt,
        views       
     )VALUES(
      doma_board_seq.NEXTVAL,
      #{div},
      #{gname},
      #{title},
      #{userId},
      #{userId},
      #{content},
      #{imgLink},
      SYSDATE,
      SYSDATE,
      0
     )
    </insert>
    
    
    <!-- 안전정보페이지 -->
    
    <insert id="Save" parameterType="Board">
     INSERT INTO D_BOARD(
        seq,
        div,
        title,
        user_id,
        mod_id,
        content,
        img_link,
        reg_dt,
        mod_dt,
        views       
     )VALUES(
      doma_board_seq.NEXTVAL,
      #{div},
      #{title},
      #{userId},
      #{userId},
      #{content},
      #{imgLink},
      SYSDATE,
      SYSDATE,
      0
     )
    </insert>
    
     <insert id="Save" parameterType="Board">
     INSERT INTO D_BOARD(
        seq,
        div,
        title,
        user_id,
        mod_id,
        content,
        img_link,
        reg_dt,
        mod_dt,
        views       
     )VALUES(
      doma_board_seq.NEXTVAL,
      #{div},
      #{title},
      #{userId},
      #{userId},
      #{content},
      #{imgLink},
      SYSDATE,
      SYSDATE,
      0
     )
    </insert>
    
     <select id="Retrieve" parameterType="Search" resultType="Board">
	    SELECT tt1.no,
	       tt1.seq,
	       tt1.div,
	       tt1.title,
	       tt1.IMG_LINK
		  FROM (
	    		SELECT ROWNUM as no, T1.*
			      FROM (
				        SELECT *
				        FROM d_board
				        --div : 30 상황별 안전 정보, 40 : 위급상황 대처방법
				        WHERE div = #{div}
				        ORDER BY mod_dt DESC
	    			) T1
	    			WHERE rownum  <![CDATA[ <= ( #{pageSize} * (#{pageNo} -1) + #{pageSize} )]]>
        		)TT1
       			 WHERE tt1.no <![CDATA[ >= ( #{pageSize} * (#{pageNo} -1) + 1 )]]>
    </select>
    
</mapper>