<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.doma.mapper.AccMapper">

	<insert id="dataInsert" parameterType="Accident">
        INSERT INTO D_ACCINFO
        (acc_id,
        acc_type,
        acc_dtype,
        occr_date,
        occr_time,
        end_date,
        end_time,
        info,
        longitude,
        latitude)
        VALUES (
        #{accId},
        #{accType},
        #{accDtype},
        #{occrDate},
        #{occrTime},
        #{endDate},
        #{endTime},
        #{info},
        #{longitude},
        #{latitude}
        )
    </insert>
    <select id="doSelectOne" parameterType="Accident" resultType="Accident">
       SELECT
    dai.acc_id as accId,
    dat.acc_name AS accName,
    dad.acc_dname AS accDname,
    dai.occr_date AS occrDate, 
    dai.occr_time AS occrTime, 
    dai.end_date AS endDate, 
    dai.end_time AS endTime, 
    REPLACE(REPLACE(REPLACE(dai.info, CHR(13) || CHR(10), ' '), CHR(13), ' '), CHR(10), ' ') AS info,  -- CRLF, CR, LF 처리 
    dai.longitude, 
    dai.latitude
	FROM 
	    D_ACCINFO dai
	JOIN 
	    D_ACC_TYPE dat 
	    ON dai.acc_type = dat.acc_type
	JOIN 
	    D_ACC_DTYPE dad 
	    ON dai.acc_dtype = dad.acc_dtype
	     WHERE ACC_ID = #{accId}
    </select>
    <select id="fullTableScan" resultType="Accident">
       SELECT * FROM (
	    SELECT 
	        ROWNUM AS RNUM,
	        A.ACC_ID as accId,
	        A.ACC_TYPE as accType,
	        T.ACC_NAME as accName,
	        A.ACC_DTYPE as accDtype,
	        D.ACC_DNAME as accDName,
	        TO_CHAR(TO_DATE(A.OCCR_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS occrDate,
            TO_CHAR(TO_DATE(A.OCCR_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS occrTime,
            TO_CHAR(TO_DATE(A.END_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS endDate,
            TO_CHAR(TO_DATE(A.END_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS endTime,
	        A.INFO as info,
	        A.LONGITUDE as longitude,
	        A.LATITUDE as latitude
		    FROM 
		        D_ACCINFO A
		    JOIN 
		        D_ACC_TYPE T ON A.ACC_TYPE = T.ACC_TYPE
		    JOIN 
		        D_ACC_DTYPE D ON A.ACC_DTYPE = D.ACC_DTYPE
		    ORDER BY 
            TO_DATE(A.OCCR_DATE, 'YYYY-MM-DD') DESC,
            TO_DATE(A.OCCR_TIME, 'HH24:MI:SS') DESC
		)
    </select>
    <select id="A01Retrieve" resultType="Accident">
    SELECT * FROM (
        SELECT 
        	A.ACC_ID as accId,
            T.ACC_NAME as accName,
            A.ACC_DTYPE as accDtype,
            D.ACC_DNAME as accDName,
            TO_CHAR(TO_DATE(A.OCCR_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS occrDate,
            TO_CHAR(TO_DATE(A.OCCR_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS occrTime,
            TO_CHAR(TO_DATE(A.END_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS endDate,
            TO_CHAR(TO_DATE(A.END_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS endTime,
            REPLACE(REPLACE(REPLACE(A.INFO, CHR(13) || CHR(10), ' '), CHR(13), ' '), CHR(10), ' ') AS info,  -- CRLF, CR, LF 처리
            A.LONGITUDE as longitude,
            A.LATITUDE as latitude
            FROM 
                D_ACCINFO A
            JOIN 
                D_ACC_TYPE T ON A.ACC_TYPE = T.ACC_TYPE
            JOIN 
                D_ACC_DTYPE D ON A.ACC_DTYPE = D.ACC_DTYPE
            WHERE A.ACC_DTYPE LIKE '01%'
            )
    </select>
    <select id="A02Retrieve" resultType="Accident">
    SELECT * FROM (
        SELECT 
        	A.ACC_ID as accId,
            T.ACC_NAME as accName,
            A.ACC_DTYPE as accDtype,
            D.ACC_DNAME as accDName,
            TO_CHAR(TO_DATE(A.OCCR_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS occrDate,
            TO_CHAR(TO_DATE(A.OCCR_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS occrTime,
            TO_CHAR(TO_DATE(A.END_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS endDate,
            TO_CHAR(TO_DATE(A.END_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS endTime,
            REPLACE(REPLACE(REPLACE(A.INFO, CHR(13) || CHR(10), ' '), CHR(13), ' '), CHR(10), ' ') AS info,  -- CRLF, CR, LF 처리
            A.LONGITUDE as longitude,
            A.LATITUDE as latitude
            FROM 
                D_ACCINFO A
            JOIN 
                D_ACC_TYPE T ON A.ACC_TYPE = T.ACC_TYPE
            JOIN 
                D_ACC_DTYPE D ON A.ACC_DTYPE = D.ACC_DTYPE
            WHERE A.ACC_DTYPE LIKE '02%'
            )
    </select>
    <select id="A03Retrieve" resultType="Accident">
    SELECT * FROM (
        SELECT 
        	A.ACC_ID as accId,
            T.ACC_NAME as accName,
            A.ACC_DTYPE as accDtype,
            D.ACC_DNAME as accDName,
            TO_CHAR(TO_DATE(A.OCCR_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS occrDate,
            TO_CHAR(TO_DATE(A.OCCR_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS occrTime,
            TO_CHAR(TO_DATE(A.END_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS endDate,
            TO_CHAR(TO_DATE(A.END_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS endTime,
            REPLACE(REPLACE(REPLACE(A.INFO, CHR(13) || CHR(10), ' '), CHR(13), ' '), CHR(10), ' ') AS info,  -- CRLF, CR, LF 처리
            A.LONGITUDE as longitude,
            A.LATITUDE as latitude
            FROM 
                D_ACCINFO A
            JOIN 
                D_ACC_TYPE T ON A.ACC_TYPE = T.ACC_TYPE
            JOIN 
                D_ACC_DTYPE D ON A.ACC_DTYPE = D.ACC_DTYPE
            WHERE A.ACC_DTYPE LIKE '03%'
            )
    </select>
    <select id="A04Retrieve" resultType="Accident">
    SELECT * FROM (
        SELECT 
        	A.ACC_ID as accId,
            T.ACC_NAME as accName,
            A.ACC_DTYPE as accDtype,
            D.ACC_DNAME as accDName,
            TO_CHAR(TO_DATE(A.OCCR_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS occrDate,
            TO_CHAR(TO_DATE(A.OCCR_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS occrTime,
            TO_CHAR(TO_DATE(A.END_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS endDate,
            TO_CHAR(TO_DATE(A.END_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS endTime,
            REPLACE(REPLACE(REPLACE(A.INFO, CHR(13) || CHR(10), ' '), CHR(13), ' '), CHR(10), ' ') AS info,  -- CRLF, CR, LF 처리
            A.LONGITUDE as longitude,
            A.LATITUDE as latitude
            FROM 
                D_ACCINFO A
            JOIN 
                D_ACC_TYPE T ON A.ACC_TYPE = T.ACC_TYPE
            JOIN 
                D_ACC_DTYPE D ON A.ACC_DTYPE = D.ACC_DTYPE
            WHERE A.ACC_DTYPE LIKE '04%'
            )
    </select>
    <select id="A05Retrieve" resultType="Accident">
    SELECT * FROM (
        SELECT 
        	A.ACC_ID as accId,
            T.ACC_NAME as accName,
            A.ACC_DTYPE as accDtype,
            D.ACC_DNAME as accDName,
            TO_CHAR(TO_DATE(A.OCCR_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS occrDate,
            TO_CHAR(TO_DATE(A.OCCR_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS occrTime,
            TO_CHAR(TO_DATE(A.END_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS endDate,
            TO_CHAR(TO_DATE(A.END_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS endTime,
            REPLACE(REPLACE(REPLACE(A.INFO, CHR(13) || CHR(10), ' '), CHR(13), ' '), CHR(10), ' ') AS info,  -- CRLF, CR, LF 처리
            A.LONGITUDE as longitude,
            A.LATITUDE as latitude
            FROM 
                D_ACCINFO A
            JOIN 
                D_ACC_TYPE T ON A.ACC_TYPE = T.ACC_TYPE
            JOIN 
                D_ACC_DTYPE D ON A.ACC_DTYPE = D.ACC_DTYPE
            WHERE A.ACC_DTYPE LIKE '05%'
            )
    </select>
    <select id="A06Retrieve" resultType="Accident">
    SELECT * FROM (
        SELECT 
        	A.ACC_ID as accId,
            T.ACC_NAME as accName,
            A.ACC_DTYPE as accDtype,
            D.ACC_DNAME as accDName,
            TO_CHAR(TO_DATE(A.OCCR_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS occrDate,
            TO_CHAR(TO_DATE(A.OCCR_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS occrTime,
            TO_CHAR(TO_DATE(A.END_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS endDate,
            TO_CHAR(TO_DATE(A.END_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS endTime,
            REPLACE(REPLACE(REPLACE(A.INFO, CHR(13) || CHR(10), ' '), CHR(13), ' '), CHR(10), ' ') AS info,  -- CRLF, CR, LF 처리
            A.LONGITUDE as longitude,
            A.LATITUDE as latitude
            FROM 
                D_ACCINFO A
            JOIN 
                D_ACC_TYPE T ON A.ACC_TYPE = T.ACC_TYPE
            JOIN 
                D_ACC_DTYPE D ON A.ACC_DTYPE = D.ACC_DTYPE
            WHERE A.ACC_DTYPE LIKE '06%'
            )
    </select>
    <select id="A07Retrieve" resultType="Accident">
    SELECT * FROM (
        SELECT 
        	A.ACC_ID as accId,
            T.ACC_NAME as accName,
            A.ACC_DTYPE as accDtype,
            D.ACC_DNAME as accDName,
            TO_CHAR(TO_DATE(A.OCCR_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS occrDate,
            TO_CHAR(TO_DATE(A.OCCR_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS occrTime,
            TO_CHAR(TO_DATE(A.END_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS endDate,
            TO_CHAR(TO_DATE(A.END_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS endTime,
            REPLACE(REPLACE(REPLACE(A.INFO, CHR(13) || CHR(10), ' '), CHR(13), ' '), CHR(10), ' ') AS info,  -- CRLF, CR, LF 처리
            A.LONGITUDE as longitude,
            A.LATITUDE as latitude
            FROM 
                D_ACCINFO A
            JOIN 
                D_ACC_TYPE T ON A.ACC_TYPE = T.ACC_TYPE
            JOIN 
                D_ACC_DTYPE D ON A.ACC_DTYPE = D.ACC_DTYPE
            WHERE A.ACC_DTYPE LIKE '07%'
            )
    </select>
    <select id="A08Retrieve" resultType="Accident">
    SELECT * FROM (
        SELECT 
        	A.ACC_ID as accId,
            T.ACC_NAME as accName,
            A.ACC_DTYPE as accDtype,
            D.ACC_DNAME as accDName,
            TO_CHAR(TO_DATE(A.OCCR_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS occrDate,
            TO_CHAR(TO_DATE(A.OCCR_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS occrTime,
            TO_CHAR(TO_DATE(A.END_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS endDate,
            TO_CHAR(TO_DATE(A.END_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS endTime,
            REPLACE(REPLACE(REPLACE(A.INFO, CHR(13) || CHR(10), ' '), CHR(13), ' '), CHR(10), ' ') AS info,  -- CRLF, CR, LF 처리
            A.LONGITUDE as longitude,
            A.LATITUDE as latitude
            FROM 
                D_ACCINFO A
            JOIN 
                D_ACC_TYPE T ON A.ACC_TYPE = T.ACC_TYPE
            JOIN 
                D_ACC_DTYPE D ON A.ACC_DTYPE = D.ACC_DTYPE
            WHERE A.ACC_DTYPE LIKE '08%'
            )
    </select>
    <select id="A09Retrieve" resultType="Accident">
    SELECT * FROM (
        SELECT 
        	A.ACC_ID as accId,
            T.ACC_NAME as accName,
            A.ACC_DTYPE as accDtype,
            D.ACC_DNAME as accDName,
            TO_CHAR(TO_DATE(A.OCCR_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS occrDate,
            TO_CHAR(TO_DATE(A.OCCR_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS occrTime,
            TO_CHAR(TO_DATE(A.END_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS endDate,
            TO_CHAR(TO_DATE(A.END_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS endTime,
            REPLACE(REPLACE(REPLACE(A.INFO, CHR(13) || CHR(10), ' '), CHR(13), ' '), CHR(10), ' ') AS info,  -- CRLF, CR, LF 처리
            A.LONGITUDE as longitude,
            A.LATITUDE as latitude
            FROM 
                D_ACCINFO A
            JOIN 
                D_ACC_TYPE T ON A.ACC_TYPE = T.ACC_TYPE
            JOIN 
                D_ACC_DTYPE D ON A.ACC_DTYPE = D.ACC_DTYPE
            WHERE A.ACC_DTYPE LIKE '09%'
            )
    </select>
    <select id="A10Retrieve" resultType="Accident">
    SELECT * FROM (
        SELECT 
        	A.ACC_ID as accId,
            T.ACC_NAME as accName,
            A.ACC_DTYPE as accDtype,
            D.ACC_DNAME as accDName,
            TO_CHAR(TO_DATE(A.OCCR_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS occrDate,
            TO_CHAR(TO_DATE(A.OCCR_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS occrTime,
            TO_CHAR(TO_DATE(A.END_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS endDate,
            TO_CHAR(TO_DATE(A.END_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS endTime,
            REPLACE(REPLACE(REPLACE(A.INFO, CHR(13) || CHR(10), ' '), CHR(13), ' '), CHR(10), ' ') AS info,  -- CRLF, CR, LF 처리
            A.LONGITUDE as longitude,
            A.LATITUDE as latitude
            FROM 
                D_ACCINFO A
            JOIN 
                D_ACC_TYPE T ON A.ACC_TYPE = T.ACC_TYPE
            JOIN 
                D_ACC_DTYPE D ON A.ACC_DTYPE = D.ACC_DTYPE
            WHERE A.ACC_DTYPE LIKE '10%'
            )
    </select>
    <select id="A11Retrieve" resultType="Accident">
    SELECT * FROM (
        SELECT 
        	A.ACC_ID as accId,
            T.ACC_NAME as accName,
            A.ACC_DTYPE as accDtype,
            D.ACC_DNAME as accDName,
            TO_CHAR(TO_DATE(A.OCCR_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS occrDate,
            TO_CHAR(TO_DATE(A.OCCR_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS occrTime,
            TO_CHAR(TO_DATE(A.END_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS endDate,
            TO_CHAR(TO_DATE(A.END_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS endTime,
            REPLACE(REPLACE(REPLACE(A.INFO, CHR(13) || CHR(10), ' '), CHR(13), ' '), CHR(10), ' ') AS info,  -- CRLF, CR, LF 처리
            A.LONGITUDE as longitude,
            A.LATITUDE as latitude
            FROM 
                D_ACCINFO A
            JOIN 
                D_ACC_TYPE T ON A.ACC_TYPE = T.ACC_TYPE
            JOIN 
                D_ACC_DTYPE D ON A.ACC_DTYPE = D.ACC_DTYPE
            WHERE A.ACC_DTYPE LIKE '11%'
            )
    </select>
    <select id="A12Retrieve" resultType="Accident">
    SELECT * FROM (
        SELECT 
        	A.ACC_ID as accId,
            T.ACC_NAME as accName,
            A.ACC_DTYPE as accDtype,
            D.ACC_DNAME as accDName,
            TO_CHAR(TO_DATE(A.OCCR_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS occrDate,
            TO_CHAR(TO_DATE(A.OCCR_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS occrTime,
            TO_CHAR(TO_DATE(A.END_DATE, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS endDate,
            TO_CHAR(TO_DATE(A.END_TIME, 'HH24:MI:SS'), 'HH24:MI:SS') AS endTime,
            REPLACE(REPLACE(REPLACE(A.INFO, CHR(13) || CHR(10), ' '), CHR(13), ' '), CHR(10), ' ') AS info,  -- CRLF, CR, LF 처리
            A.LONGITUDE as longitude,
            A.LATITUDE as latitude
            FROM 
                D_ACCINFO A
            JOIN 
                D_ACC_TYPE T ON A.ACC_TYPE = T.ACC_TYPE
            JOIN 
                D_ACC_DTYPE D ON A.ACC_DTYPE = D.ACC_DTYPE
            WHERE A.ACC_DTYPE LIKE '12%'
            )
    </select>    
    <delete id="doDeleteAll">
    DELETE FROM D_ACCINFO
    </delete>
    
    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM D_ACCINFO
    </select>
    
</mapper>